@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

:root {
    --header-bg: rgb(255, 255, 255);
    --sidebar-bg: rgb(24, 146, 211);
    --content-bg: rgb(225, 232, 240);
    --content-card-border: rgb(241, 178, 49);
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
}

.header {
    grid-column: 2/4;
    grid-row: 1;
    background-color: var(--header-bg);
    padding: 10px;
}

.upper-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 100px;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.searchbar img {
    width: 25px;
}

.searchbar input {
    width: 550px;
    height: 30px;
    border-radius: 30px;
    border: none;
    background-color: var(--content-bg);
    padding: 10px;
    font-size: 18px;
}

.header-upper-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header-upper-right-side p {
    font-weight: bold;
}

.header-upper-right-side .bell-icon {
    width: 25px;
}

.header-upper-right-side .user-img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user img{
    border-radius: 50%;
    width: 80px;
}

.user .text1 {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.user .text2 {
    font-size: 21px;
    font-weight: bold;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.buttons button:nth-child(1) {
    padding: 10px 35px;
    background-color: var(--sidebar-bg);
    color: var(--header-bg);
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.buttons button:nth-child(2) {
    padding: 10px 25px;
    background-color: var(--sidebar-bg);
    color: var(--header-bg);
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.buttons button:nth-child(3) {
    padding: 10px 30px;
    background-color: var(--sidebar-bg);
    color: var(--header-bg);
    font-weight: bold;
    font-size: 14px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.lower-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 300px;
    margin-top: 15px;
    margin-bottom: 8px;
}

.sidebar {
    grid-column: 1;
    grid-row: 1/3;
    background-color: var(--sidebar-bg);
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 7px;
    margin: 20px 10px;
    
}

.logo .icon{
    fill: rgb(255, 255, 255);
    width: 50px;
}

.logo p {
    font-size: 25px;
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.first-set, .second-set {
    list-style: none;
    font-size: 18px;
    font-weight: bold;
    display: grid;
    gap: 25px;
    margin-left: 25px;
}

.first-set {
    margin-top: 60px;
    margin-bottom: 70px;
}

.first-set li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.first-set li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.first-set .icon {
    fill: rgb(255, 255, 255);
    width: 20px;
}

.second-set li {
    display: flex;
    align-items: center;
    gap: 20px;
}

.second-set .icon {
    fill: rgb(255, 255, 255);
    width: 20px;
}

.second-set li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.content {
    grid-column: 2/4;
    grid-row: 2;
    background-color: var(--content-bg);
    padding: 20px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 15px repeat(3, 230px);
    gap: 30px;
}

.projects > .text-intro{
    grid-column: 1/3;
    grid-row: 1;
}

.projects .card {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    padding: 40px 20px;
    border-left: 10px solid rgb(241, 178, 49);
}

.card > h3 {
    margin-bottom: 10px;
}

.right-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 45px 420px 35px 295px;
}

.right-content .announcements {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    padding: 35px 20px;
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.announcement > h3 {
    font-size: 16px;
}

.announcement > p {
    margin-bottom: 10px;
    font-size: 13px;
}

.right-content .trending {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-radius: 8px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    padding-bottom: 20px;
}

.trend {
    display: flex;
    align-items: center;
    gap: 15px;
}

.trend-text > p+p {
    color: rgb(134, 134, 134);
}

.trend > img {
    width: 50px;
    border-radius: 50%;
}

hr {
    border: 0;
    height: 1px;
    background-color: rgb(225, 232, 240);
    margin: 5px 0;
}